4_Ano_1_Semestre/Video Games Database (XML and ASP)/TP3/XMLSchema/Feeds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="feed">
          <xs:complexType>

              <xs:attribute name="nome" type="xs:string" />

              <xs:attribute name="url"  >
                <xs:simpleType>
                  <xs:restriction base="xs:string"  >
                    <xs:pattern value="http://[/A-z1-9._-]*" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
